.fa {
  padding: 10px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    
}

.fa-linkedin {
  background: none;
  color: white;
}

.fa-github {
  background: none;
  color: white;
}

.fa-medium {
    background-color: none;
    color: none;
}