body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.DarkMode {
    transition: all 0.50s linear;
    background-color: #2C3333;
    color: #E7F6F2;
}
.LightMode {
    transition: all 0.50s linear;
    background-color: #E7F6F2;
    color: #2C3333;
}
